<!DOCTYPE html>
<html>
  <head>
    <title>Cole Stout's Blog Site</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
  </head>
  <body>
    <div class='container'>
      <% include ./partials/nav %>
      <p></p>
      <h4>Cole Stout's Blog Site</h4>
      <p>Welcome to my blog site!</p>
    </div>
    <script> src='/js/jquery.min.js'</script>
    <script> src='/js/bootstrap.min.js'</script>
  </body>
</html>
